body{
    background-color: rgb(202, 240, 248);
}
request{
    background-color: rgb(236, 131, 133) ;
    border: 2px solid rgb(172, 28, 30);
    border: 10px;

}
button{
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    border: solid 1px ;
    border-radius: 5px;
    display: flex;
    justify-content: end;
}
.btnSend{
    background-color: rgb(0, 166, 251);
}